body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
     font-family: 'Poppins', sans-serif;
}
.top{
    width: 100%;
    height: 50px;
    background-color:#F5FBFF;
}
 .top div {
   float: left;
   justify-content: space-between !important;
}
.social{
    width: 40%;
    position: relative;
    top: 15px;
    margin-left: 163px;
}
.social a{
    font-size: 15px;
    color: #C7C7C7;
    margin-right: 12px;
}
.social a:hover{
   color: #5DB2FF; 
}
.contact{
    width: 40%;
    margin-left: -50px;
}
.contact ul li{
    list-style: none;
    float: right;
}
.contact ul li a{
    text-decoration: none;
    font-size: 13px;
    color: #919191;
    margin-left: 50px;
}
.contact ul li a i{
    color: #5DB2FF;
    margin-right: 7px;
}
/*nav start*/
.navbar{
    width:100%;
    height:50px;
    position:fixed;
    background-color: #ffffff;
    z-index: 1;
    padding: 20px;
}
.nav div{
    float: left;
    justify-content: space-between;
}
.nav .logo{
    padding-left: 150px;
}
.nav .menu{
    position:relative;
    top: -25px;
    padding-left: 170px;
}
.nav li{
    list-style: none;
    float: left;
    margin: 0 12px;
}
.nav li a{
    text-decoration: none;
    position: relative;
    top: 20px;
    color: #727272;
    font-size: 15px;
    font-weight: bold;
}
.nav li a:hover{
    color: #1F1F1F;
}
.nav .appoin{
    padding-left: 50px;
}
.nav .appoin a{
    text-decoration: none;
    position: relative;
    top: 13px;
    background: #009DFF;
    padding: 12px 26px;
    font-size: 15px;
    font-weight: 400;
    border: 1px solid transparent;
    color: #fff;
    border-radius: 4px;
    transition: 0.5s;
}
.nav .appoin a:hover{
    background-color: white;
    color:#009DFF ;
    border: 1px solid #009DFF;
}
.Checkbtn{
    display: none;
    font-size: 30px;
    color: rgba(0, 0, 0, 0.9);
    line-height: 80px;
    float: right;
}
#Check{
    display: none;
}
/*nav end*/
/*Section One Start*/
.section1{
    position: relative;
    top: 91px;
    background-image: url(img/banner2.png.webp);
    height: 700px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    animation: slider 15s infinite alternate running;
}

@keyframes slider{
    0%{background-image: url(img/banner2.png.webp);}
    35%{background-image: url(img/banner.png.webp);}
    75%{background-image: url(img/banner2.png.webp);}
}
.section1 .slider{
    position: absolute;
    bottom: 150px;
    left: 144px;
}
.slider h3{
    font-size: 70px;
    font-weight: 300;
    line-height: 10px;
}
.slider h1{
    font-size: 70px;
    font-weight: 700;
    line-height: 10px;
}
.slider p{
    font-size: 18px;
    font-weight: 400;
    color: #727272;
    margin-bottom: 40px;
    margin-top: 10px;
}
.slider a{
    text-decoration: none;
    background: linear-gradient(to right, #0181f5 0%, #5db2ff 100%);
    padding: 18px 44px;
    font-size: 15px;
    font-weight: 500;
    border: 1px solid transparent;
    border-radius: 4px;
    text-align: center;
    color: #fff ;
    text-transform: capitalize;
    transition: 0.5s;
    cursor: pointer;
}
.section1 .slider a:hover{
background: #fff;
color: #009DFF;
border: 1px solid #009DFF;
}
/*Section One End*/

/*Section Two Start*/
.section2{
    background-color: #83C4FF;
    position: relative;
    top: 92px;
}
.service{
    display: flex;
    width: 80%;
    height: auto;
    margin: 0 auto;
}
.service .ser1,.ser2{
    padding: 40px 30px;
}
.service .ser2{
    background-color: #5DB2FF;
}
.service i{
    font-size: 50px;
    color: #fff;
}
.service  h3{
    font-size: 26px;
    font-weight: 500;
    color: #fff;
}
.service p{
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #fff;
    margin-top: -18px;
    margin-bottom: 26px;
}
.service a{
    color: #fff;
    padding: 12px 24px;
    font-size: 15px;
    font-weight: 400;
    border: 0;
    border: 1px solid #fff;
    border-radius: 5px;
    text-align: center;
    color: #fff !important;
    text-transform: capitalize;
    text-decoration: none;
    transition: 0.5s;
    cursor: pointer;
}
.service a:hover{
    background-color: white;
    color:#009DFF !important;
    border: 1px solid #009DFF;
}
/*Section Two End*/

/*Section Three start*/
.section3{
    max-width: 1140px;
    height: auto;
    margin: 0 auto;
    padding-top: 120px;
    padding-bottom: 220px;
}

.wel{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.img{
    display: flex;
    width: 50%;
}
.text{
    width: 40%;
    padding-left: 90px;
}
.img1{
    position: absolute;
}
.img1 img{
    width: 90%;
}
.img img{
    width: 90%;
}
.img2{
    position: relative;
    bottom: -96px;
    right: -223px;
}
.text h2{
    font-size: 18px;
    font-weight: 400;
    color: #1F1F1F;
    position: relative;
    z-index: 9;
    margin-bottom:-11px;
}
.text h3{
    font-weight: 500;
    font-size: 36px;
    margin-bottom: 10px;
}
.text p{
    font-size: 17px;
    color: #727272;
    line-height: 28px;
    word-spacing: 5px;
}
.text ul{
    margin-bottom: 40px;
    margin-top: 25px;
    margin-left: -35px;
}
.text li{
    color: #727272;
    font-size: 16px;
    line-height: 28px;
    list-style: none;
}
.text li i{
    margin-right: 10px;
    color: #5DB2FF;
}
.text a{
    color: #5DB2FF;
    padding: 12px 26px;
    font-size: 15px;
    font-weight: 400;
    border: 0;
    border: 1px solid #5DB2FF;
    border-radius: 5px;
    text-align: center;
    text-transform: capitalize;
    transition: 0.5s;
    cursor: pointer;
    text-decoration: none;
}
.text a:hover{
    color:#fff;
    background-color:#5DB2FF ;
}
/*Section Three End*/
/*Section Four Start*/
.section4{
    background: #F5FBFF;
    padding-top: 120px;
    padding-bottom: 90px;
}
.section4 .dep{
    text-align: center;
}
.section4 .dep h3{
    font-size: 36px;
    font-weight: 500;
    line-height: 25px;
    color: #1F1F1F;
}
.section4 .dep p{
    font-size: 16px;
    color: #727272;
    line-height: 20px;
    margin-bottom: 10px;
}
.zoom{
    width: 80%;
    background: #F5FBFF !important;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.act{
    display: inline-block;
    width:31%;
    height: auto;
    float:none; 
    box-shadow:  0 6px 10px rgba(0, 0, 0, 0.04);
    margin-bottom: 12px;
    margin-left: 15px;
}
.act1{
    display: inline-block;
    width:31%;
    height: auto;
    float:none; 
    box-shadow:  0 6px 10px rgba(0, 0, 0, 0.04);
    margin-bottom: 12px;
    margin-left: 15px;
}
figure{
    overflow: hidden;
    margin: 0 5px;
}
.ser h3{
    margin-top: 40px;
    margin-left: 10px;
}
.act img{
    display: block;
    width: 100%;
    height: auto;
    cursor: pointer;
}
.act .ser img{
    transform: scale(1);
    transition: 0.3s ease-in-out;
    width: 100%;
}
.act .ser:hover img{
transform: scale(1.2);
}

.ser h3 a{
    font-size: 22px;
    color: #1F1F1F;
    line-height: 33px;
    font-weight: 500;
    text-decoration: none;
    background-color: #fff;
}
.ser p{
    font-size: 16px;
    line-height: 28px;
    color: #727272;
    margin-top: 5px;
    margin-bottom: 10px;
    background-color: #fff;
    padding: 0 10px;
}

.ser .learn_more{
    color: #5DB2FF;
    font-size: 16px;
    background-color: #fff;
    margin-left: 10px;
    text-decoration: none;
}
.ser .learn_more:hover{
    text-decoration: underline;
}
.act1 img{
    display: block;
    width: 100%;
    height: auto;
    cursor: pointer;
}
.act1 .ser img{
    transform: scale(1);
    transition: 0.3s ease-in-out;
    width: 100%;
}
.act1 .ser:hover img{
transform: scale(1.2);
}
.card{
    background-color: #fff !important;
    margin-top: -34px;
    height: 195px;
}
/*Section Four End*/
/*Section5 Start*/
.section5{
    width: 100%;
    height: auto;
    background-image: url(img/x1.png.pagespeed.ic.NH__KL9wkr.webp);
    padding: 180px 0;
   position: relative;
   background-size: cover;
   background-position: top;
   background-repeat: no-repeat;
  }
.quate{
    text-align: center;
}
.quate i{
    color: #fff;
    font-size: 60px;
}
.quate p{
    color: #fff;
    font-size: 20px;
    line-height: 32px;
    font-weight: 400;
    margin-top: 12px;
    margin-bottom: 47px;
}
.quate h4{
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    position: relative;
    padding-top: 21px;
}
/*section5 End*/
/*section6 start*/
.section6{
  margin-top: -15px;
    width: 100%;
    height:auto;
    background-color: #F5FBFF;
}
.tab{
    width: 85%;
}

.tab ul{
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding: 35px 20px;
}

.tab ul li{
    margin: 12px;
    list-style: none;
}
.tab ul li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    color: #1F1F1F;
    padding: 35px 0px 35px 40px;
}
/*section6 End*/
/*section7 start*/
.section7{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.half1, .half2{
    width: 50%;
}
.half1{
    margin-left: 135px;
    margin-top:120px;
}
.half1 i{
    background: #5DB2FF;
    width: 75px;
    height: 75px;
    display: inline-block;
    color: #fff;
    font-size: 35px;
    text-align: center;
    line-height: 75px;
    border-radius: 50%;
}
.half2{
    padding-right: 160px;
    margin-top: 50px;
}

.half2 img{
    max-width: 100%;
    height: auto;
}
.half1 h3{
    font-size: 20px;
    font-weight: 500;
    color: #1F1F1F;
    margin-top: 16px;
    margin-bottom: 14px;
}
.half1 p{
    color: #727272;
    line-height: 28px;
    margin-bottom: 0;
}

/*section7 End*/
/*section8 Start*/
.section8{
    padding-top: 120px;
    padding-bottom: 90px;
    width: 90%;
    margin: 0 auto;
    margin-left: 114px;
}
.section8 .title h3{
    font-size: 36px;
    font-weight: 500;
    color: #1F1F1F;
}
.expert{
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.doc{
    display: inline-block;
    width:22%;
    height: auto;
    float:none; 
    box-shadow:  0 6px 10px rgba(0, 0, 0, 0.04);
    margin-bottom: 12px;
    margin-left: 15px;
}
figure{
    overflow: hidden;
    margin: 0 5px;
}
.doc h3{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 1px;
}
.doc img{
    display: block;
    width: 100%;
    height: auto;
    cursor: pointer;
}
.expert .doc img{
    transform: scale(1);
    transition: 0.3s ease-in-out;
    width: 100%;
}
.expert .doc:hover img{
transform: scale(1.2);
}

.doc span{
    font-size: 13px;
}

.text2{
    transition: 0.3s;
    background: #F5FBFF;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}
.text2:hover{
    background: #5DB2FF;
    color: #fff !important;
}

/*section8 End*/
/*section9 start*/
.section9{
    width: 100%;
    height: auto;
}
.section9 .emer{
    display: flex;
    text-align: center;
    text-align: center;
}
.section9 .div1{
    background-image: url(img/xemergency-1.png.pagespeed.ic.dzkR_tLkpJ.webp);
    width: 100%;
    height: 200px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.div1 .t1{
    float: left;
    position: relative;
    top: 53px;
    left: 104px;
}
.div1 .btn{
    position: relative;
    top: 85px;;
}
.div-overlay{
 width: 100%;
 height: 200px;
 background-color: rgb(93, 178, 255,0.8);
}
.section9 .div2{
    background-image: url(img/xemergency-2.png.pagespeed.ic.Db7myp6yIE.webp);
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.div2 .t1{
    float: left;
    position: relative;
    top: 53px;
    left: 92px;
}
.div2 .btn{
    position: relative;
    top: 85px;
    right: 0px;
}
.section9 .emer h3{
    font-size: 20px;
    color:#fff;
}
.section9 .emer p{
    color: #fff;
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 0;
}
.section9 .emer a{
    color: #fff;
    display: inline-block;
    padding: 9px 24px;
    font-size: 15px;
    font-weight: 400;
    border: 0;
    border: 1px solid #fff;
    text-align: center;
    text-transform: capitalize;
    transition: 0.2s;
    cursor: pointer;  
    border-radius: 30px;
    text-decoration: none;
}
.section9 .emer a:hover{
    background: #fff;
    color: #009DFF;
}
/*section9 end*/
/*footer start*/
footer{
    width: 100%;
    height: auto;
    background: #1F1F1F;
}
.foot{
    width: 80%;
    padding-top: 145px;
    padding-bottom: 129px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;   
}
.foot ul{
    margin-left: -34px;
}
.row1{
    width: 35%;
    height: auto;
}
.row1 p{
    color: #C7C7C7;
}
.row1 .links{
    margin-top: 47px;
}
.row1 .links li{
    list-style: none;
    float: left;
    margin-left: 15px;
    background-color:rgb(112, 112, 112);
}
.row1 .links li a{
    font-size: 16px;
    color: #BABABA;
}
.row1 .links li i{
    padding: 0 20px;
    line-height: 48px;
}
.row1 .links li i:hover{
    color: #fff !important;
}

.row2 h3{
    font-size: 22px;
    font-weight: 400;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 40px;
}
.row2 ul li{
    list-style: none;
}
.row2 ul li a{
    font-size: 16px;
    color: #BABABA;
    line-height: 42px;
    text-decoration: none;
}
.row2{
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    color: #4D4D4D;
    margin-bottom: 13px;
    font-family: "Poppins", sans-serif;
    color: #C7C7C7;
}
/*footer end*/
/*last section start*/
.last{
    margin-top: -30px;
    width: 100%;
    height: 100px;
    text-align: center;
    background-color: #000;
}
.last p{
        font-size: 16px;
        color: #919191;
        margin-bottom: 0;
        font-weight: 400;
        padding-top: 35px;
}
.last a{
    color: #5DB2FF;
    text-decoration: none;
}
/*last section end*/

/*responive start*/

/*Destop view*/
@media (min-width:1024px) and (max-width:1310px){
    .nav .logo {
        padding-left: 30px;
    }
    .nav .menu {
        padding-left: 50px;
    }
    .nav .appoin a {
        padding: 12px 20px;
    }
}

/*Tab view*/
@media (min-width:769px) and (max-width:1023px){
    .top {
       display: flex;
    }
    .social {
        width: 15%;
        margin-left: 61px;
    }
    .contact {
        width: 69%;
        margin-left: -50px;
    }
    .Checkbtn{
        display: block;
    }
      header .nav {
        margin-right: 0px;
    }
    header .nav ul {
    position: absolute;
    width: 98.8%;
    height: 100vh;
    background:#4C4C4C;
    top: 29px;
    left: -200%;
    transition: all 0.1s;
    }
    header .nav ul li{
        line-height: 30px;
        clear: both;
        margin-top: 15px;
    }
    #Check:checked ~ ul{
        left: 0;
        padding-left: 10px;
        margin-top: 23px;
    }
    
    header .nav ul li a{
        font-size: 20px;
        text-align: center;
    }
    .navbar {
        width: 100%;
        height: auto;
    }
    .appoin{
        display: none;
    }
    .nav .logo {
        padding-left: 0;
        clear: right;
        display: block;
        width: 100%;
    }
    .nav .menu {
        position: relative;
        top: 0;
        padding: 0;
        display: block;
        width: 80%;
        background:#4C4C4C;
    }
    label i{
        color: #fff;
    }
    .Checkbtn {
        font-size: 30px;
        line-height: 43px;
        padding: 5px;
        float: none;
    }
    header .nav ul li a {
        font-size: 16px;
        text-align: center;
    }
    .nav li a {
        text-decoration: none;
        position: relative;
        top: 0px;
        color: white;
        font-size: -18px;
        font-weight: normal;
    }
    /*Section One Start*/
    .section1 .slider {
        position: absolute;
        bottom: 200px;
        left: 70px;
    }
    .slider h1 {
        font-size: 64px;
    }
    .slider h3 {
        font-size: 62px;
    }
    .slider a {
    padding: 18px 26px;
    }
    /*Section One End*/
    /*Section Two Start*/
    .service {
        display: block;
        width: 100%;
        height: auto;
    }
    .service i {
        font-size: 52px;
        color: #fff;
    }
    .service  h3 {
        font-size: 26px;
    }
    .service a {
        font-size: 16px;
    }
    /*Section Two End*/
     /*Section Three start*/
     .wel {
        display: flex;
        flex-wrap: wrap;
        margin-right: 0;
        margin-left: 0;
    }
    .img {
        display: block;
        width: 100%;
    }
    .img img {
        width: 100%;
    }
    .img2 {
        position: relative;
        bottom: -96px;
        right: -223px;
        display: none;
    }
    .text {
        position: relative;
        width: 100%;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
        margin-top:480px;
    }
    .text h3 {
        font-size: 28px;
    }
    .text p {
        font-size: 14px;
    }
    .text li {
        font-size: 14px;
    }
    .text li i {
        margin-right: 0;
    }
    .text a {       
        padding: 10px 18px;
        font-size: 13px;
    }
    /*Section Three End*/
    .text {
        width: 100%;
        padding-left: 58px;
    }
    .text h2 {
        font-size: 18px;
        margin-top: 89px;
    }
     /*Section Three start*/
     .wel {
        display: flex;
        flex-wrap: wrap;
        margin-right: 0;
        margin-left: 0;
    }
    .img {
        display: block;
        width: 100%;
    }
    .img img {
        width: 100%;
    }
    .img2 {
        position: relative;
        bottom: -96px;
        right: -223px;
        display: none;
    }
    .text {
        position: relative;
        width: 100%;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
        margin-top:480px;
    }
    .text h3 {
        font-size: 28px;
    }
    .text p {
        font-size: 14px;
    }
    .text li {
        font-size: 14px;
    }
    .text li i {
        margin-right: 0;
    }
    .text a {       
        padding: 10px 18px;
        font-size: 13px;
    }
    /*Section Three End*/
    /*Section4 start*/
    .zoom {
        width: 100%;
    }
    .act {
        display: inline-block;
        width: 44%;
    }
    .act1 {
        display: inline-block;
        width: 44%;
    }
    /*Section4 end*/
     /*section6 start*/
     .tab {
        width: 100%;
    }
    .tab ul {
        display: flex;
        align-content: center;
        justify-content: space-between;
        padding: 18px 20px;
    }
    .tab ul li a {
        text-decoration: none;
        font-size: 20px;
        font-weight: 400;
        color: #1F1F1F;
        padding: 0;
    }
    /*section6 End*/

    .half1 {
        margin-left: 64px;
        margin-top: 29px;
    }
    .half2 {
        padding-right: 30px;
        margin-top: -14px;
    }

    .section8 {
        padding-top: 46px;
        margin-left: 34px;
    }
    /*section9 start*/
    .section9 .emer {
        display: block;
    }
    .div1 .t1 {
        float: left;
        top: 26px;
        left: 35px;
    }
    .section9 .emer h3 {
        font-size: 25px;
    }
    .div1 .btn {
        position: relative;
        top: 70px;
    }
    .section9 .emer a {
        padding: 13px 28px;
        font-size: 14px;
    }
    .div2 .t1 {
        float: left;
        top: 26px;
        left: 35px;
    }
    .div2 .btn {
        position: relative;
        top: 70px;
    }
    /*section9 end*/

    .foot {
        width: 95%;
    }
    .row2 h3 {
        font-size: 19px;
    }
}

/*Mobile veiw*/
@media (max-width:768px){
    .top {
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 100%;
        height: auto;
        background-color: #F5FBFF;
    }
    .top div {
        float: none;
        width: 100%;
    }
    .social {
        margin-left: 17px;
        font-size: 15px;
        color: #C7C7C7;
        margin-right: 5px;
    }
    
    .contact ul li {
        list-style: none;
        float:none;
        display:flex;
    }
    .contact {
        margin-left: -33;
    }
    .contact ul li a {
        text-decoration: none;
        font-size: 13px;
        color: #919191;
        margin-left: 0;
    }
    /*nav start*/
    .Checkbtn{
        display: block;
    }
      header .nav {
        margin-right: 0px;
    }
    header .nav ul {
    position: absolute;
    width: 98%;
    height: 100vh;
    background:#4C4C4C;
    top: 29px;
    left: -200%;
    transition: all 0.1s;
    }
    header .nav ul li{
        line-height: 30px;
        clear: both;
        margin-top: 15px;
    }
    #Check:checked ~ ul{
        left: 0;
        padding-left: 10px;
        margin-top: 23px;
    }
    
    header .nav ul li a{
        font-size: 20px;
        text-align: center;
    }
    .navbar {
        width: 100%;
        height: auto;
    }
    .appoin{
        display: none;
    }
    .nav .logo {
        padding-left: 0;
        clear: right;
        display: block;
        width: 100%;
    }
    .nav .menu {
        position: relative;
        top: 0;
        padding: 0;
        display: block;
        width: 80%;
        background:#4C4C4C;
    }
    label i{
        color: #fff;
    }
    .Checkbtn {
        font-size: 30px;
        line-height: 43px;
        padding: 5px;
        float: none;
    }
    header .nav ul li a {
        font-size: 16px;
        text-align: center;
    }
    .nav li a {
        text-decoration: none;
        position: relative;
        top: 0px;
        color: white;
        font-size: -18px;
        font-weight: normal;
    }
    /*nav end*/
    /*Section One Start*/
    .section1 .slider {
        position: absolute;
        bottom: 150px;
        left: 15px;
    }
    .slider h1 {
        font-size: 35px;
        font-weight: 700;
        line-height: 10px;
    }
    .slider h3 {
        font-size: 32px;
        font-weight: 300;
        line-height: 10px;
    }
    .slider a {
    padding: 18px 20px;
    }
    /*Section One End*/
    /*Section Two Start*/
    .service {
        display: block;
        width: 100%;
        height: auto;
    }
    .service i {
        font-size: 42px;
        color: #fff;
    }
    .service  h3 {
        font-size: 23px;
    }
    .service a {
        font-size: 13px;
    }
    /*Section Two End*/
    /*Section Three start*/
    .wel {
        display: flex;
        flex-wrap: wrap;
        margin-right: 0;
        margin-left: 0;
    }
    .img {
        display: block;
        width: 100%;
    }
    .img img {
        width: 100%;
    }
    .img2 {
        position: relative;
        bottom: -96px;
        right: -223px;
        display: none;
    }
    .text {
        position: relative;
        width: 100%;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
        margin-top:480px;
    }
    .text h3 {
        font-size: 28px;
    }
    .text p {
        font-size: 14px;
    }
    .text li {
        font-size: 14px;
    }
    .text li i {
        margin-right: 0;
    }
    .text a {       
        padding: 10px 18px;
        font-size: 13px;
    }
    /*Section Three End*/
    /*Section Four Start*/
    .section4 .dep h3 {
        font-size: 30px;
    }
    .section4 .dep p {
        font-size: 14px;
        width: 94%;
    }
    .zoom {
        width: 100%;
        background: #F5FBFF !important;
        margin: 0 auto;
        display: block;
        flex-wrap: wrap;
    }
    .act {
        display: block;
        width: 46%;
        height: auto;
        float: none;
        box-shadow: 0 6px 10px rgba(0, 0, 0, 0.04);
        margin-top: 49px;
        margin-left: 15px;
        margin-bottom: 15px;
    }
    .act1 {
        display: block;
        width: 46%;
        height: auto;
        float: none;
        box-shadow: 0 6px 10px rgba(0, 0, 0, 0.04);
        margin-top: 49px;
        margin-left: 15px;
        margin-bottom: 15px;
    }
    .ser h3 {
        margin-top: 40px;
        margin-left: 7px;
    }
    .ser h3 a {
        font-size: 18px;
    }
    .ser p {
        font-size: 14px;
    }
    .ser .learn_more {
        font-size: 14px;
    }
    /*Section Four End*/
    /*Section5 Start*/
    .quate i {
        font-size: 37px;
    }
    .quate p {
        font-size: 16px;
        line-height: 34px;
        width: 90%;
    }
    .quate h4 {
        font-size: 15px;
    }
    /*section5 End*/
    /*section6 start*/
    .tab {
        width: 100%;
    }
    .tab ul {
        display: block;
        align-content: center;
        justify-content: space-between;
        padding: 35px 20px;
    }
    .tab ul li a {
        text-decoration: none;
        font-size: 20px;
        font-weight: 400;
        color: #1F1F1F;
        padding: 0;
    }
    /*section6 End*/
    /*section7 start*/
    .section7 {
        display: block;
    }

    .half1 {
        margin-left: 15px;
        margin-top: 16px;
    }
    /*section7 End*/
    /*section8 Start*/
    .section8 {
        padding-top: 120px;
        padding-bottom: 90px;
        width: 100%;
        margin: 0 auto;
        margin-left: 0;
    }
    .section8 .title h3 {
        font-size: 29px;
        font-weight: 500;
        color: #1F1F1F;
    }
    .doc h3 {
        font-size: 15px;
        font-weight: 500;
        margin-bottom: 1px;
    }
    .doc span {
        font-size: 11px;
    }
    .doc {
        display: block;
        width: 70%;
        margin-left: 0;
    }
    /*section8 End*/
    /*section9 start*/
    .section9 .emer {
        display: block;
    }
    .div1 .t1 {
        float: none;
        top: 26px;
        left: 5px;
    }
    .section9 .emer h3 {
        font-size: 17px;
    }
    .div1 .btn {
        position: relative;
        top: 46px;
    }
    .section9 .emer a {
        padding: 9px 13px;
        font-size: 12px;
    }
    .div2 .t1 {
        float: none;
        top: 26px;
        left: 5px;
    }
    .div2 .btn {
        position: relative;
        top: 46px;
    }
    /*section9 end*/
    /*footer start*/
    .foot {
        width: 80%;
        padding-top: 67px;
        display: block;
    }
    .row1 {
        width: 100%;
        height: auto;
    }
    .row1 .links {
        margin-top: 26px;
    }
    .row1 .links li {
        margin-left: 9px;
    }
    .row1 .links li a {
        font-size: 13px;
    }
    .row1 .links li i {
        padding: 0 17px;
        line-height: 45px;
    }
    /*footer end*/
    /*last section start*/
    .last {
        height: auto;
        padding-bottom: 10px;
    }
    .last p {
        font-size: 15px;
        padding-top: 21px;
    }
    /*last section end*/

}
